<div class="detail-section">
    <div class="container-fluid">
        <img src="{{product.imageUrl}}" alt="Product Image" class="detail-img">
        <h3>{{product.name}}</h3>
        <div class="price">{{product.unitPrice | currency:'USD'}}</div>
        <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
        <hr>
        <h4>Description</h4>
        <p>{{product.description}}</p>
        <button routerLink="/products" class="btn btn-success">
            Back to Products
        </button>
    </div>
</div>