<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkout" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="firstName" class="form-control">
                                <div *ngIf="checkout.get('customer.firstName')?.invalid &&
                                            (checkout.get('customer.firstName')?.dirty || 
                                            checkout.get('customer.firstName')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('customer.firstName')?.errors?.required ||
                                    checkout.get('customer.firstName')?.errors?.notOnlyWhitespace">
                                        First Name is required!
                                    </div>
                                    <div *ngIf="checkout.get('customer.firstName')?.errors?.minlength">
                                        First Name must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="lastName" class="form-control">
                                <div *ngIf="checkout.get('customer.lastName')?.invalid &&
                                            (checkout.get('customer.lastName')?.dirty || 
                                            checkout.get('customer.lastName')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('customer.lastName')?.errors?.required ||
                                                checkout.get('customer.firstName')?.errors?.notOnlyWhitespace">
                                        Last Name is required!
                                    </div>
                                    <div *ngIf="checkout.get('customer.lastName')?.errors?.minlength">
                                        Last Name must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="email" class="form-control">
                                <div *ngIf="checkout.get('customer.email')?.invalid &&
                                    (checkout.get('customer.email')?.dirty || checkout.get('customer.email')?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="checkout.get('customer.email')?.errors?.required">
                                        Email is required!
                                    </div>
                                    <div *ngIf="checkout.get('customer.email')?.errors?.email">
                                        Email must be a valid email format!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>

                <!-- shipping address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="country">Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" class="form-control" (change)="getStates('shippingAddress')">
                                    <option></option>
                                    <option *ngFor="let country of countries">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf="checkout.get('shippingAddress.country')?.invalid &&
                                            (checkout.get('shippingAddress.country')?.dirty || 
                                            checkout.get('shippingAddress.country')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('shippingAddress.country')?.errors?.required ||
                                                checkout.get('shippingAddress.country')?.errors?.notOnlyWhitespace">
                                        Country is required!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="street">Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="street" class="form-control">
                                <div *ngIf="checkout.get('shippingAddress.street')?.invalid &&
                                            (checkout.get('shippingAddress.street')?.dirty || 
                                            checkout.get('shippingAddress.street')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('shippingAddress.street')?.errors?.required ||
                                                checkout.get('shippingAddress.street')?.errors?.notOnlyWhitespace">
                                        Street is required!
                                    </div>
                                    <div *ngIf="checkout.get('shippingAddress.street')?.errors?.minlength">
                                        Street must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="city">City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="city" class="form-control">
                                <div *ngIf="checkout.get('shippingAddress.city')?.invalid &&
                                            (checkout.get('shippingAddress.city')?.dirty || 
                                            checkout.get('shippingAddress.city')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('shippingAddress.city')?.errors?.required ||
                                                checkout.get('shippingAddress.city')?.errors?.notOnlyWhitespace">
                                        City is required!
                                    </div>
                                    <div *ngIf="checkout.get('shippingAddress.city')?.errors?.minlength">
                                        City must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="state">State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" class="form-control">
                                    <option></option>
                                    <option *ngFor="let state of shippingAddressStates">
                                        {{state.name}}
                                    </option>
                                </select>
                                <div *ngIf="checkout.get('shippingAddress.state')?.invalid &&
                                            (checkout.get('shippingAddress.state')?.dirty || 
                                            checkout.get('shippingAddress.state')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('shippingAddress.state')?.errors?.required ||
                                                checkout.get('shippingAddress.state')?.errors?.notOnlyWhitespace">
                                        State is required!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="zipCode">Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="zipCode" class="form-control">
                                <div *ngIf="checkout.get('shippingAddress.zipCode')?.invalid &&
                                            (checkout.get('shippingAddress.zipCode')?.dirty || 
                                            checkout.get('shippingAddress.zipCode')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('shippingAddress.zipCode')?.errors?.required ||
                                                checkout.get('shippingAddress.zipCode')?.errors?.notOnlyWhitespace">
                                        Zip Code is required!
                                    </div>
                                    <div *ngIf="checkout.get('shippingAddress.zipCode')?.errors?.minlength">
                                        Zip Code must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>

                <!-- add check box to copy shipping address to billing adress -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" class="form-control" (change)="copyShippingAddressToBillingAddesss($event)">
                        <span class="au-checkmark"></span> Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- billing address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="country">Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" class="form-control" (change)="getStates('billingAddress')">
                                    <option></option>
                                    <option *ngFor="let country of countries">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf="checkout.get('billingAddress.country')?.invalid &&
                                            (checkout.get('billingAddress.country')?.dirty || 
                                            checkout.get('billingAddress.country')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('billingAddress.country')?.errors?.required ||
                                                checkout.get('billingAddress.country')?.errors?.notOnlyWhitespace">
                                        Country is required!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="street">Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="street" class="form-control">
                                <div *ngIf="checkout.get('billingAddress.street')?.invalid &&
                                            (checkout.get('billingAddress.street')?.dirty || 
                                            checkout.get('billingAddress.street')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('billingAddress.street')?.errors?.required ||
                                                checkout.get('billingAddress.street')?.errors?.notOnlyWhitespace">
                                        Street is required!
                                    </div>
                                    <div *ngIf="checkout.get('billingAddress.street')?.errors?.minlength">
                                        Street must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="city">City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="city" class="form-control">
                                <div *ngIf="checkout.get('billingAddress.city')?.invalid &&
                                            (checkout.get('billingAddress.city')?.dirty || 
                                            checkout.get('billingAddress.city')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('billingAddress.city')?.errors?.required ||
                                                checkout.get('billingAddress.city')?.errors?.notOnlyWhitespace">
                                        City is required!
                                    </div>
                                    <div *ngIf="checkout.get('billingAddress.city')?.errors?.minlength">
                                        City must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="state">State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" class="form-control">
                                    <option></option>
                                    <option *ngFor="let state of billingAddressStates">
                                        {{state.name}}
                                    </option>
                                </select>
                                <div *ngIf="checkout.get('billingAddress.state')?.invalid &&
                                            (checkout.get('billingAddress.state')?.dirty || 
                                            checkout.get('billingAddress.state')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('billingAddress.state')?.errors?.required ||
                                                checkout.get('billingAddress.state')?.errors?.notOnlyWhitespace">
                                        State is required!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="zipCode">Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="zipCode" class="form-control">
                                <div *ngIf="checkout.get('billingAddress.zipCode')?.invalid &&
                                            (checkout.get('billingAddress.zipCode')?.dirty || 
                                            checkout.get('billingAddress.zipCode')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('billingAddress.zipCode')?.errors?.required ||
                                                checkout.get('billingAddress.zipCode')?.errors?.notOnlyWhitespace">
                                        Zip Code is required!
                                    </div>
                                    <div *ngIf="checkout.get('billingAddress.zipCode')?.errors?.minlength">
                                        Zip Code must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>

                <!-- credit card information -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="cardType">Card Type</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType" class="form-control">
                                    <option>Visa</option>
                                    <option>Master Card</option>
                                </select>
                                <div *ngIf="checkout.get('creditCard.cardType')?.invalid &&
                                            (checkout.get('creditCard.cardType')?.dirty || 
                                            checkout.get('creditCard.cardType')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('creditCard.cardType')?.errors?.required ||
                                                checkout.get('creditCard.cardType')?.errors?.notOnlyWhitespace">
                                        Card Type is required!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="nameOnCard">Name on Card</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="nameOnCard" class="form-control">
                                <div *ngIf="checkout.get('creditCard.nameOnCard')?.invalid &&
                                            (checkout.get('creditCard.nameOnCard')?.dirty || 
                                            checkout.get('creditCard.nameOnCard')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('creditCard.nameOnCard')?.errors?.required ||
                                                checkout.get('creditCard.nameOnCard')?.errors?.notOnlyWhitespace">
                                        Name is required!
                                    </div>
                                    <div *ngIf="checkout.get('creditCard.nameOnCard')?.errors?.minlength">
                                        Name must be at least 2 characters long!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="cardNumber">Card Number</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="cardNumber" class="form-control">
                                <div *ngIf="checkout.get('creditCard.cardNumber')?.invalid &&
                                            (checkout.get('creditCard.cardNumber')?.dirty || 
                                            checkout.get('creditCard.cardNumber')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('creditCard.cardNumber')?.errors?.required ||
                                                checkout.get('creditCard.cardNumber')?.errors?.notOnlyWhitespace">
                                        Card Number is required!
                                    </div>
                                    <div *ngIf="checkout.get('creditCard.cardNumber')?.errors?.pattern">
                                        Card Number must be of 16 digits!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="securityCode">Security Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="securityCode" class="form-control">
                                <div *ngIf="checkout.get('creditCard.securityCode')?.invalid &&
                                            (checkout.get('creditCard.securityCode')?.dirty || 
                                            checkout.get('creditCard.securityCode')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('creditCard.securityCode')?.errors?.required ||
                                                checkout.get('creditCard.securityCode')?.errors?.notOnlyWhitespace">
                                        Security Code is required!
                                    </div>
                                    <div *ngIf="checkout.get('creditCard.securityCode')?.errors?.pattern">
                                        Security Code must be of 3 digits!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="expirationMonth">Expiration Year</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" class="form-control" (change)="handleMonthsAndYears()">
                                    <option></option>
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                                <div *ngIf="checkout.get('creditCard.expirationYear')?.invalid &&
                                            (checkout.get('creditCard.expirationYear')?.dirty || 
                                            checkout.get('creditCard.expirationYear')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('creditCard.expirationYear')?.errors?.required ||
                                                checkout.get('creditCard.expirationYear')?.errors?.notOnlyWhitespace">
                                        Expiration Year is required!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="expirationMonth">Expiration Month</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth" class="form-control">
                                    <option></option>
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                                <div *ngIf="checkout.get('creditCard.expirationMonth')?.invalid &&
                                            (checkout.get('creditCard.expirationMonth')?.dirty || 
                                            checkout.get('creditCard.expirationMonth')?.touched)"
                                            class="alert alert-danger mt-1"
                                >
                                    <div *ngIf="checkout.get('creditCard.expirationMonth')?.errors?.required ||
                                                checkout.get('creditCard.expirationMonth')?.errors?.notOnlyWhitespace">
                                        Expiration Month is required!
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>

                <!-- order details -->
                <div class="form-area">
                    <h3>Review your Order</h3>
                    <p>Total Quantity : {{totalQuantity}}</p>
                    <p>Shipping : FREE</p>
                    <p>Total Price : {{totalPrice | currency: 'USD'}}</p>
                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Purchase</button>
                </div>
            </form>
        </div> 
    </div>
</div>   